<h1>MEAN GAMES</h1>
<table>
    <thead>
        <td>Games</td>
        <td/>
        <td>Actions</td>
    </thead>
    <tbody ng-repeat="game in vm.games">
        <tr>
            <td> <a href="/#!/game/{{game._id}}">{{game.title}}</a></td>
            <td>&nbsp;&nbsp;</td>
            <td> <a href="#!" ng-click="vm.deleteGame(game._id)">Delete</a>
            </td>
            <td> <a href="/#!/game/update/{{game._id}}">Edit</a>
            </td>
        </tr>
    </tbody>
</table>

Add new game:
<form name="vm.gameForm" ng-submit="vm.addGame()">
    To add a new game please fill in all the fields below:
    <br/> Title: <input type="text" name="title" required ng-model="vm.newGame.title" style="color:black" />
    <br/> Price: <input type="text" name="price" required ng-model="vm.newGame.price" style="color:black" />
    <br/> Year of Publication: <input type="text" name="year" required ng-model="vm.newGame.year" style="color:black" />
    <br/> Rating: <input type="text" name="rating" required pattern="[1-5]" ng-model="vm.newGame.rate" style="color:chocolate" />
    <span ng-show="vm.gameForm.rating.$dirty && vm.gameForm.rating.$invalid" style="color:chocolate">Rating should be from 1 to 5.</span>
    <br/> Minimum Number of Players: <input type="text" name="minPlayers" required pattern="[/1-9]\d*" ng-model="vm.newGame.minPlayers" style="color:black" />
    <span ng-show="vm.gameForm.minPlayers.$dirty && vm.gameForm.minPlayers.$invalid" style="color:chocolate">Minimum players must be at least 1.</span>
    <br/> Maximum Number of Players: <input type="text" name="maxPlayers" required pattern="[/1-9]\d*" ng-model="vm.newGame.maxPlayers" style="color:black" />
    <span ng-show="vm.gameForm.maxPlayers.$dirty && vm.gameForm.maxPlayers.$invalid" style="color:chocolate">Maximum players must be at least 1.</span>
    <br/> Minimum Recommended Player Age: <input type="text" name="minAge" required ng-model="vm.newGame.minAge" style="color:black" />
    <br/> Designer name: <input type="text" name="designer" required ng-model="vm.newGame.designer" style="color:black" />
    <br/>
    <button type="submit" class="btn-success">Add Game</button>
    <br/>
</form>